apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  annotations:
    # Adjust per ingress controller (nginx/traefik/cilium-ingress).
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ name }}
                port: { number: {% if is_web %}80{% elif is_http %}{{ port }}{% elif has_http_port %}{{ http_port }}{% else %}80{% endif %} }
